$fontMap: (
  fontSourseSansPro: 'Source Sans Pro',
  fontHind: 'Hind',
  fontFresca: 'Fresca',
);
$headerBGImg: url(../img/m-h-night.jpg);
$contentBackground: #21232e;
$headerTextcolor: #fff;
$titleColor: #fff;
$cardTitleColor: #fff;
$cardTextColor: #92939b;
$underlineTextColor: #ff4e33;
$btnColor: #e3ac00;
$btnTextColor: #f2f3f7;
$cardColor: #3b3f50;
$footerColor: #3b3f50;
$footerTextColor: #d1d1d1;
$bannerGradient: linear-gradient(to right, #dca206, #96324f);
$bannerTextColor: #d1d1d1;