$fontMap: (
  fontSourseSansPro: 'Source Sans Pro',
  fontHind: 'Hind',
  fontFresca: 'Fresca',
);
$headerBGImg: url(../img/m-h-day.jpg);
$contentBackground: #fff;
$headerTextcolor: #2c2f3c;
$titleColor: #2c2f3c;
$cardTitleColor: #fff;
$cardTextColor: #c0c3ce;
$underlineTextColor: #14a0c7;
$btnColor: #699900;
$btnTextColor: #fff;
$cardColor: #21232e;
$footerColor: #21232e;
$footerTextColor: #c0c3ce;
$bannerGradient: linear-gradient(to right, #64940f, #2f5dd2);
$bannerTextColor: #b9c3ce;